.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
  background: linear-gradient(90deg, #ff4d6d, #ffb703);
  color: white;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Header-left {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  font-weight: 800;
}

.Header-nav {
  display: flex;
  gap: 25px;
}

.Link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.Link:hover {
  opacity: 0.7;
}
