.Header-container {
  background: linear-gradient(90deg, #ff4d6d, #ffb703);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
}

.header-left,
.header-right {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-left a,
.header-right a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.header-left a:hover,
.header-right a:hover {
  opacity: 0.8;
}

.header-right button {
  background: rgba(255, 255, 255, 0.2);

  border: none;

  color: white;

  padding: 8px 15px;

  border-radius: 8px;

  cursor: pointer;
}

.Link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.Link:hover {
  opacity: 0.7;
}
